#Testing
language: csharp
solution: DSharpPlus.sln
mono:
  - latest
install:
  - nuget restore DSharpPlus.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release /p:AllowUnsafeBlocks=true DSharpPlus.sln
#  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./MyPoject.Tests/bin/Release/MyProject.Tests.dll
