<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Feed no longer used -->
    <!-- <add key=".NET Core (MyGet)" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" /> -->

    <!-- Feed now defunct -->
    <!-- <add key="Roslyn (MyGet)" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" /> -->
  </packageSources>
</configuration>
