<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="TOFFY_DISCORD_BOT_TOKEN" value="MTAwMDA1MjA0MzY1NTk1NDU4Mg.GpjZjx.PfJ56RYG6o8EcFwTxiNeo8ASvlk5pkM9doWT1s"/>
        <add key="TOFFY_DISCORD_HOST" value="127.0.0.1"/>
        <add key="TOFFY_DISCORD_PORT" value="2333"/>
    </appSettings>
</configuration>
