<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncBridge.Net35" version="0.2.0" targetFramework="net45" />
  <package id="NAudio" version="1.7.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="SharpCord.dll" version="0.1.0-rc3" targetFramework="net45" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc9" targetFramework="net45" />
</packages>