<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.2.0-xbuild02" targetFramework="net452" />
  <package id="libsodium-net" version="0.10.0-beta3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net452" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net452" />
</packages>