name: .NET Docs
on:
  push:
    branches:
      - 'master'
    paths:
      - 'DSharpPlus.Docs/**'
  release:
    types:
      - published
  workflow_dispatch:
  
env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
permissions:
  contents: write
jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3.0.3
      with:
        dotnet-version: 7.0.103
    - name: Build documentation
      run: dotnet build ./DSharpPlus.Docs/
    - run: dotnet run ./DSharpPlus.Docs/
    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@v1.0.7
      with:
    # Path of the directory containing the static assets.
        path: ./DSharpPlus.Docs/_site/ # default is _site/
  deploy:
    # Add a dependency to the build job
    needs: build
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # Specify runner + deployment step
    runs-on: self-hosted
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
