name: .NET Docs
on:
  release:
    types:
      - published
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'docs/**'

env:
  DOTNET_NOLOGO: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.103
    - name: Install DocFX
      run: dotnet tool update -g docfx --prerelease
      continue-on-error: true
    - name: Build documentation
      run: docfx docs/docfx.json
    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@v2
      with:
        # Path of the directory containing the static assets.
        path: ./docs/_site/ # default is _site/
  deploy:
    # Add a dependency to the build job
    needs: build
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
