name: .NET Build

on:
  push:
    branches:
      - master
    paths:
      - DSharpPlus/Clients/DiscordShardedClient.Events.cs

env:
  DOTNET_NOLOGO: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1

jobs:
  build_and_publish:
    name: Source Generate
    runs-on: self-hosted
    if: "!contains(format('{0} {1}', github.event.head_commit.message, github.event.pull_request.title), '[ci-skip]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: "0"
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7
      - name: DiscordShardedClient
        run:
          dotnet run --project tools/DSharpPlus.Tools.ShardedEventHandlingGen/DSharpPlus.Tools.ShardedEventHandlingGen.csproj -- --projectRoot "$(pwd)"
      - name: Commit if needed
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git diff-index --quiet HEAD || git commit -m "Update ShardedEventHandlingGen"
          git push